body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 10px;
}
.center-div{
  /* I want this div to be centered */
  margin: auto;
  width: 50%;
}
.pace-analysis-container {
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.single-activities {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  max-width: 600px; /* Adjust the max-width as needed */
  height: 470px;
}

.activity-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Ensure proper alignment of items */
  margin-bottom: 15px;
  cursor: pointer;
}

.user-info {
  display: flex;
  align-items: center;
}

.profile-picture {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the text vertically */
}

.activity-name {
  flex-grow: 1;
  text-align: left;
  margin-left: 20px;
}

.activity-name h2 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  white-space: nowrap; /* Prevents text wrapping */
}

.activity-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  font-size: 0.9rem;
  font-weight: bold;
}

.activity-details {
  display: flex;
  gap: 20px;
}

.activity-details p {
  margin: 0;
  font-size: 0.9rem;
}

.map-container {
  margin-top: 10px;
  height: 200px; /* Adjust height as needed */
  width: 100%;
}

button {
  all: unset;
  cursor: pointer;
}

.completed{
  background-color: lightgreen;
}
.not-completed{
  background-color: lightcoral;
}

.grid{
  display: grid;
  /* 4 elements per row */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* center the whole grid */
  margin: auto;
  /* give some space between the elements */
  grid-gap: 20px;
}
.training-day-card{
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
  margin: auto;
}
.width-100{
  width: 50px;
}

.load-button{
  width: 20%;
  margin: auto;
  margin-bottom: 15px;
  text-align: center;
}
.margin-bottom-10{
  margin-bottom: 10px;
}
.pace-button{
  width: 20%;
  margin: auto;
  margin-top: 10px;
}

.lap-table-row{
  /* single row of the table, should get some nice styling*/
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 5px;
}
.lap-table{
  /* table that should take whole width and get some styling */
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  margin-bottom: 10px;
}
.single-activities{
  margin-bottom: 10px;
  margin-top: 10px;
}

.activity-div{
  text-align: center;
  max-width: 700px;
  align-items: center;
  margin: auto;
}
label {
  display: block;
  font-weight: bold;
}

input[type="number"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.output-container {
  margin-top: 20px;
  font-weight: bold;
}

.plus-button {
  margin-bottom: 10px;
  width: 20%;
  margin: auto;
}

.pace-button {
  margin-top: 10px;
}

.container {
  width: 50%;
  margin: auto;
}
.profile-picture{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  display: block;
  margin-bottom: 10px;
  /* give it a nice border */
  border: 3px solid grey;
}
.center-text {
  text-align: center;
}